<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Your Certificate</title>
  <link rel="stylesheet" href="/css/form.css">
  
</head>
<body>
  <div class="container">
    <h2>Get Your Certificate</h2>
    <form action="/generate" method="POST">
      <input type="text" name="name" placeholder="Enter Your Name" required>
      <input type="email" name="email" placeholder="Enter Your Email" required>
      <button type="submit">Download Certificate</button>
    </form>
  </div>
</body>
</html>
